/* contact.css */

.container-content {
    margin-top: 50px;
    
}

.para {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-box {
    width: calc(33.33% - 20px); 
    height: 200px;
    background: linear-gradient(skyblue, white, rgb(253, 217, 223));
    border: 2px solid skyblue;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.flex-box:hover {
    transform: scale(1.1); 
    background: linear-gradient(rgb(173, 84, 84), white,rgb(95, 95, 201));
}

.flex-box i {
    font-size: 50px;
    margin-bottom: 20px;
}

.flex-box a {
    color: inherit; /* Inherit parent color */
    text-decoration: none; /* Remove default link styling */
}

.flex-box p {
    margin: 0;
    display: none; /* Hide paragraph initially */
}

.flex-box:hover p {
    display: block; /* Display paragraph on hover */
}

.flex-box i.fa-linkedin {
    color: #0077b5;
}

.flex-box i.fa-whatsapp {
    color: #25d366; 
}

.flex-box i.fa-envelope {
    color: #ea4335; 
}
